<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <title>Header</title>
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/myAccount}">Mon compte</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
              </form>
            </div>
          </nav>
        <!-- <nav>
            <ul>
                <li><a th:href="@{/new}">S'inscrire</a></li>
                <li><a th:href="@{/login}">Se connecter</a></li>
                <li><a th:href="@{/reset}">Réinitialiser le mot de passe</a></li>
            </ul>
        </nav> -->
    </header>
</body>
</html>