<form th:fragment="reset" class="p-5 col-lg-8 mx-auto">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"> New password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="button" class="btn btn-outline-light">Modifier le mot de passe</button>
</form>